<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.practice.myapp.dao.BoardDao">

	<select id="list" resultType="com.practice.myapp.BoardDto">
		select * from board
	</select>
	
	<insert id="write" parameterType="java.util.HashMap"
	useGeneratedKeys="true"
	keyProperty="idx">
		insert into board (name,nickname,content) values (#{name},#{nickname},#{content});
	</insert>
	
	<select id="getEdit" resultType="com.practice.myapp.BoardDto">
		select * from board where idx = #{idx}
	</select>
	
	<update id="edit" parameterType="java.util.HashMap"
	useGeneratedKeys="true"
	keyProperty="idx">
		update board 
		set name = #{name}, nickname = #{nickname}, content = #{content}
		where idx = #{idx}
	</update>
	
	<delete id="delete">
		delete from board where idx = #{postidx}
	</delete>
</mapper>